<!DOCTYPE html>
<html>
	<head>
		<title>Experience | Saud Zakariya Hussain </title>
		<!--Import Google Icon Font-->
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load static %}
		<!--Import css files-->
		<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/myStyles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/materialize.css' %}">
		<!--Import jQuery before materialize.js and myJquery.js-->	
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'main_app/js/myJquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'main_app/js/materialize.js' %}"></script>
	</head>
	<body>
		<!-- fixed nav bar at the top -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper grey darken-4">
					<a href="{% url 'index' %}" class="brand-logo flow-text minimum-width center">Saud Zakariya Hussain</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'experience' %}">Experience</a></li>
						<li><a href="{% url 'projects' %}">Projects</a></li>
						<li><a href="{% url 'blog' %}">Blog</a></li>
						<li><a href="https://github.com/ZakHussain">GitHub</a></li>
					</ul>					
				</div>
			</nav>	
		</div><!-- Page Starting photo -->
		<div class="wrapper">
			<div class="row"> 
				<div class="s12 center-align">
					<img src="{% static "main_app/images/MyWebsite_images/cell_array.JPG" %}"/>	
				</div>	
			</div>	
		</div>
		<!-- CONTENT -->
		<div class="row">		
			<div class="col s12 purple lighten-5">
				<div class="container section">
					<h3 class="left-align"><strong>EDUCATION</strong></h3>
					<div class="left-align flow-text">					
						<h4><strong>Northeastern University</strong></h4>
						<h5>Khoury College of Computer Science</h5>
						<h6>• Master of Science in Computer Science – AI Specialization</h6>

						<h4><strong>University of Washington</strong></h4>
						<h5>College of Arts and Sciences</h5>
						<h6>• Neurobiology Major</h6>
						<h6>• Computational Neuroscience Certification</h6>

						<h4><strong>Coding Dojo</strong></h4>
						<h5>Software Engineering Bootcamp</h5>
						<h6>• Software Development Certification</h6>

						<h4><strong>South Puget Sound</strong></h4>
						<h5>Community College</h5>
						<h6>• Associates in Science</h6>						
					</div>

				</div>
			</div>
		</div>
		<!--Experiences -->
		<div class="row">		
			<div class="col s12">
				<div class="container section">
					<h3 class="left-align"><strong>EXPERIENCE</strong></h3>
					<div class="left-align flow-text">					
						<h4><strong>Systems and Behavioral Neurobiology</strong></h4>
						<h5>Teaching Assistant</h5>
						<h6>• Aided students in gathering data on neural activity.</h6>
						<h6>• Provided technical support for working with lab equipment.</h6>
						<h6>• Discussed with students what neural recordings could represent and how to analyze the data.</h6>

<h4><strong>Allen Institute for Brain Science</strong></h4>
<h5>Information Technologies Intern</h5>
<h6>• Explored Allen Brain Atlas SDK to analyze experimental data.</h6>
<h6>• Wrote Jupyter notebooks using AIBS data resources</h6>
<h6>• Implemented study on user interaction with the SDK.</h6>
<h6>• Implemented Django web framework to create a navigable, consistent, & concise website</h6>
<h6>• Utilized Sphinx to document the Allen Brain Observatory SDK documentation.</h6>
<h5>Project Links</h5>
<h6><strong>Jupyter Notebooks </strong></h6>
<h6>• <a href='https://github.com/ZakHussain/Brain_Observatory_Jupyter_Notebooks'>https://github.com/ZakHussain/Brain_Observatory_Jupyter_Notebooks</a></h6>
<h6><strong>ML with Kmeans </strong></h6>
<h6>• <a href='https://github.com/ZakHussain/ML_and_data'>https://github.com/ZakHussain/ML_and_data</a></h6>
<h6><strong>Allen SDK App </strong></h6>
<h6>• <a href='https://github.com/ZakHussain/Allen_SDK_Website'>https://github.com/ZakHussain/Allen_SDK_Website</a></h6>
<h6><strong>Sphinx documentation</strong></h6>
<h6>• <a href='https://github.com/ZakHussain/Allen_Brain_Observatory_SDK'>https://github.com/ZakHussain/Allen_Brain_Observatory_SDK</a></h6>

<h4><strong>Neurobiology Lab Research</strong></h4>
<h5>Student Research</h5>
<h6>• Conducted experimental research on a variety of model organisms.</h6>
<h6>• Implemented numerous statistical methods such as FFT and Gaussian fit to Analyze recordings.</h6>
<h6>• Explored applications of mathematical methods to problems in neuroscience. This includes working with Matlab on topics such as differential equations, probability, linear algebra and principle component analysis.</h6>
<h5>Project Links</h5>
<h6><strong>Cockroach studies</strong></h6>
<h6>• <a href='https://zakhussain.com/projects/cockroachCPG/'>https://zakhussain.com/projects/cockroachCPG/</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Cockroach_Cpg_Flight_Behavior'>https://github.com/ZakHussain/Cockroach_Cpg_Flight_Behavior</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Cockroach_Mechanosensory_System'>https://github.com/ZakHussain/Cockroach_Mechanosensory_System</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Cockroach_Wing_Beat_Frequency'>https://github.com/ZakHussain/Cockroach_Wing_Beat_Frequency</a></h6>
<h6><strong>Leech studies</strong></h6>
<h6>• <a href='https://github.com/ZakHussain/LeechLab'>https://github.com/ZakHussain/LeechLab</a></h6>
<h6><strong>Fish Studies</strong></h6>
<h6>• <a href='https://github.com/ZakHussain/Fishes-EODS'>https://github.com/ZakHussain/Fishes-EODS</a></h6>

<h4><strong>Center for Sensorimotor Neural Engineering</strong></h4>
<h5>Android Software Engineer on Student-led Team</h5>
<h6>• Conducted research into ‘acquired’ face-blindness(prosopagnosia) to design a product for aiding individual inflicted with this neurological disorder.</h6>
<h6>• Developed an android application that integrated real-time signal acquisition from Google glasses, Firebase cloud storage, and Microsoft Cognitive Services API.</h6>
<h6>• Presented prototype to a panel of industry judges.</h6>
<h5>Project Links</h5>
<h6>• <a href='https://zakhussain.com/projects/resight/'>https://zakhussain.com/projects/resight/</a></h6>

<h4><strong>Coding Dojo</strong></h4>
<h5>Student Software Developer June-September 2016
<h6>• Implemented python framework, Django, to build web applications to learn about MVC structure and how these files interact.
<h6>• Utilized MEAN stack to create web applications to develop an understanding of callbacks/promises; modularization and MVC; and RESTful routing architecture.
<h6>• Developed basic iOS mobile-applications to get hands on experience with the XCode development environment, comprehend documentation to use different frameworks, & implement patterns—protocols, delegates, & blocks.
<h5>Project Links</h5>
<h6><strong>Python and Django</strong></h6>
<h6>• <a href='https://github.com/ZakHussain/Python_OOP'>https://github.com/ZakHussain/Python_OOP</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Python_Fundamentals'>https://github.com/ZakHussain/Python_Fundamentals</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Python_Projects'>https://github.com/ZakHussain/Python_Projects</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Python_Flask_Fundamentals'>https://github.com/ZakHussain/Python_Flask_Fundamentals</a></h6>
<h6>• <a href='https://github.com/ZakHussain/Python_Flask-MySql'>https://github.com/ZakHussain/Python_Flask-MySql</a></h6>
<h6><strong>Swift and iOS</strong></h6>
<h6>• <a href='https://github.com/ZakHussain/iOS_BASICS'>https://github.com/ZakHussain/iOS_BASICS</a></h6>
<h6>• <a href='https://github.com/ZakHussain/iOS_Intermediate'>https://github.com/ZakHussain/iOS_Intermediate</a></h6>
<h6>• <a href='https://github.com/ZakHussain/iOS_Star_Wars_API'>https://github.com/ZakHussain/iOS_Star_Wars_API</a></h6>
<h6><strong>JavaScript and MEAN</strong></h6>
<h6>• <a href='https://github.com/ZakHussain/Mongoose_Dashboard'>https://github.com/ZakHussain/Mongoose_Dashboard</a></h6>
					</div>

				</div>
			</div>
		</div>		
	</body>
</html>

